{% extends '::base.html.twig' %}

{% block body %}    

        <div id="page-wrapper">
            
            <div class="row">
                <div class="col-lg-12">
                    <strong class="primary-font"></br>Descripcion del Proceso de Contratación que será adjudicado</strong>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->           
            
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong class="primary-font">El proceso de contratacion requiere la entrega de los siguientes garantias economicas:</strong>
                        </div>
                        <!-- /.panel-heading -->                        
                        <div class="panel-body">
                            <div class="col-lg-8">                        
                                <h5>- Garant&iacute;a de Fiel Cumplimiento del Contrato, por:</h5>
                                <h6 style="margin-left: 38px">(Correspondiente al 2015% de valor del contrato)</h6>
                                </br>
                                <h5>- Garant&iacute;a de Buen uso del Anticipo, por:</h5>
                                <h6 style="margin-left: 38px">(Correspondiente al 100% del valor del anticipo)</h6>                        
                            </div>
                            <div class="col-lg-4">
                                <div class="panel panel-red">
                                    <div class="panel-heading">
                                        <div class="row">                              
                                            <div class="col-xs-10 text-center">                                    
                                                <div>$10.000,00</div>                                                        
                                            </div>
                                        </div>
                                    </div>                        
                                </div>
                            </div>        
                            </br></br></br>
                            <div class="col-lg-4" style="padding-top: 21px">
                                <div class="panel panel-red">
                                    <div class="panel-heading">
                                        <div class="row">                              
                                            <div class="col-xs-10 text-center">                                    
                                                <div>$100.000,00</div>                                                        
                                            </div>
                                        </div>
                                    </div>                        
                                </div>
                            </div>        
                            
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <!-- OJO -->
                </div>
            </div>
            <!-- /.row -->
            
            
            <div class="row">
               <div class="col-lg-8">
                   <div class="panel panel-default">
                       <div class="panel-body">
                           <h5>La solicitud para el tramite de la(s) garant&iacute;as fue enviado:</h5>
                           </br>
                           <h5>Fecha: {{valor[0]}}</h5>
                           <h5>Hora: {{valor[1]}}</h5>
                           </br> El tiempo m&aacute;ximo para que las Entidades Financiera emitan la(s)
                           respuesta(s) de 48 horas.
                           </br>
                           <h5>Faltan: hh:mm:ss (cuenta regresiva en base a la fehca y hora de envio)</h5>
                       </div>
                   </div>
               </div>                
                <!-- /.col-lg-12 -->
            </div> 
            <!-- /.row -->
           
        <!-- /#page-wrapper -->
    </div>    
{% endblock %}

