{% extends '::base.html.twig' %}

{% block body %}    

    

        <!-- Navigation -->
        

        <div id="page-wrapper">
            
            <div class="row">
                <div class="col-lg-12">
                    <strong class="primary-font"></br>Descripcion del Proceso de Contratación que será adjudicado</strong>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">                              
                                <div class="col-xs-10 text-left">                                    
                                    <div>Entidad</div>
                                    <div>Numero de resolucion</div>
                                    <div>Justificacion</div>
                                    <div>Objeto de proceso</div>
                                    <div>Codigo</div>
                                    <div>Tipo de Compra</div>
                                    <div>Entidad</div>
                                    <div>Presupuesto referencial total (sin IVA)</div>
                                    <div>Tipo de contratacion</div>
                                    <div>Forma de pago</div>
                                    <div>Tipo de Adjudicacion</div>
                                    <div>Plazo de entrega</div>
                                    <div>Vigencia de Oferta</div>
                                    <div>Funcionario encargado del proceso</div>
                                    <div>Estado del Proceso</div>                                    
                                    <div>Descripcion</div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="panel panel-primary">                      
                        <div class="panel-footer">
                            <span class="pull-left" style="color: #23527c;">dato[0]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[1]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[2]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[3]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[4]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[5]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[6]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[7]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[8]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[9]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[10]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[11]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[12]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[13]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[14]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[15]</span></br>
                            <div class="clearfix"></div>
                        </div>                      
                    </div>
                </div>                
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong class="primary-font">El proceso de contratacion requiere la entrega de los siguientes garantias economicas:</strong>
                        </div>
                        <!-- /.panel-heading -->                        
                        <div class="panel-body">
                            <div class="col-lg-8">                        
                                <h5>- Garant&iacute;a de Fiel Cumplimiento del Contrato, por:</h5>
                                <h6 style="margin-left: 38px">(Correspondiente al 2015% de valor del contrato)</h6>
                                </br>
                                <h5>- Garant&iacute;a de Buen uso del Anticipo, por:</h5>
                                <h6 style="margin-left: 38px">(Correspondiente al 100% del valor del anticipo)</h6>                        
                            </div>
                            <div class="col-lg-4">
                                <div class="panel panel-red">
                                    <div class="panel-heading">
                                        <div class="row">                              
                                            <div class="col-xs-10 text-center">                                    
                                                <div>$10.000,00</div>                                                        
                                            </div>
                                        </div>
                                    </div>                        
                                </div>
                            </div>        
                            </br></br></br>
                            <div class="col-lg-4" style="padding-top: 21px">
                                <div class="panel panel-red">
                                    <div class="panel-heading">
                                        <div class="row">                              
                                            <div class="col-xs-10 text-center">                                    
                                                <div>$100.000,00</div>                                                        
                                            </div>
                                        </div>
                                    </div>                        
                                </div>
                            </div>        
                            
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <!-- OJO -->
                </div>
            </div>
            <!-- /.row -->
            
            
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong class="primary-font">Las Garant&iacute;a(s) Econ&oacute;micas solicitadas a la Entidad Financiera XXX, has sido aceptadas:</strong>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <h5>- Garant&iacute;a de Fiel Cumplimiento del Contrato: <strong style="color: #d9534f">ACEPTADA</strong></h5>                                
                            <center>
                                <img id="logoIzquierda" alt="descarga_aval" src="{{ asset('public/images/descargaPDF.png') }}" WIDTH="25%" HEIGHT="25%"/>
                            </center>
                            </br>
                            <h5>- Garant&iacute;a de Buen uso del Anticipo: <strong style="color: #d9534f">ACEPTADA</strong></h5>
                            <center>
                                <img id="logoIzquierda" alt="descarga_aval" src="{{ asset('public/images/descargaPDF.png') }}" WIDTH="25%" HEIGHT="25%"/>
                            </center>
                            </br>                            
                        </div>
                        <!-- /.panel-body -->
                        <div class="panel-footer" style="color: #d9534f"><h5>Debe descargar e imprimir el o los documentes PDF, con
                                los cuales podr&aacute; solicitar en las oficinas de la Entidad Finaciera XXX, los originales de la(s) Garantía(s).</h5>
                        </div>
                        <!-- /.panel-footer -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>            
            <!-- /.row -->
            
        </div>
        <!-- /#page-wrapper -->


{% endblock %}
