{% block body %}    
<section id="main" >
    <header class="row">
        <table>
            <tr>
                <td>
        <div class="col-md-4">
            <a class="sinCSS" href="https://www.compraspublicas.gob.ec" target="_blank">
                <img alt="Descargar en pdf" src="{{ asset('public/images/MFC-PLIEGOS-PLANTILLA_03.png') }}" />
            </a>
           </div>
        </td>
        <td>
            <div style="color: #000099"><h2>MODULO DE GARANTIAS</h2></div>
        </td>                       
        </tr>
        <tr>
            <div class="cabecera"> </div>
        </tr>
        </table>
    </header>
</section>
Hello {{ name }}!
{% endblock %}