{% extends '::base.html.twig' %}

{% block body %}    

        <div id="page-wrapper">
            
            <div class="row">
                <div class="col-lg-10">
                    <strong class="primary-font"></br>Descripcion del Proceso de Contratación que será adjudicado</strong>
                </div>
                <!-- /.col-lg-12 -->
                <div class="col-lg-2">
                    <nav>
                        <ul class="pager">
                            <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Regresar</a></li>                            
                        </ul>
                    </nav>
                </div>    
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">                              
                                <div class="col-xs-10 text-left">                                    
                                    <div>Entidad</div>
                                    <div>Numero de resolucion</div>
                                    <div>Justificacion</div>
                                    <div>Objeto de proceso</div>
                                    <div>Codigo</div>
                                    <div>Tipo de Compra</div>
                                    <div>Entidad</div>
                                    <div>Presupuesto referencial total (sin IVA)</div>
                                    <div>Tipo de contratacion</div>
                                    <div>Forma de pago</div>
                                    <div>Tipo de Adjudicacion</div>
                                    <div>Plazo de entrega</div>
                                    <div>Vigencia de Oferta</div>
                                    <div>Funcionario encargado del proceso</div>
                                    <div>Estado del Proceso</div>                                    
                                    <div>Descripcion</div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="panel panel-primary">                      
                        <div class="panel-footer">
                            <span class="pull-left" style="color: #23527c;">dato[0]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[1]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[2]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[3]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[4]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[5]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[6]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[7]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[8]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[9]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[10]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[11]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[12]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[13]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[14]</span></br>
                            <span class="pull-left" style="color: #23527c;">dato[15]</span></br>
                            <div class="clearfix"></div>
                        </div>                      
                    </div>
                </div>                
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong class="primary-font">El proceso de contratacion requiere la entrega de los siguientes garantias economicas:</strong>
                        </div>
                        <!-- /.panel-heading -->                        
                        <div class="panel-body">
                            <div class="col-lg-8">                        
                                <h5>- Garant&iacute;a de Fiel Cumplimiento del Contrato, por:</h5>
                                <h6 style="margin-left: 38px">(Correspondiente al 2015% de valor del contrato)</h6>
                                </br>
                                <h5>- Garant&iacute;a de Buen uso del Anticipo, por:</h5>
                                <h6 style="margin-left: 38px">(Correspondiente al 100% del valor del anticipo)</h6>                        
                            </div>
                            <div class="col-lg-4">
                                <div class="panel panel-red">
                                    <div class="panel-heading">
                                        <div class="row">                              
                                            <div class="col-xs-10 text-center">                                    
                                                <div>$10.000,00</div>                                                        
                                            </div>
                                        </div>
                                    </div>                        
                                </div>
                            </div>        
                            </br></br></br>
                            <div class="col-lg-4" style="padding-top: 21px">
                                <div class="panel panel-red">
                                    <div class="panel-heading">
                                        <div class="row">                              
                                            <div class="col-xs-10 text-center">                                    
                                                <div>$100.000,00</div>                                                        
                                            </div>
                                        </div>
                                    </div>                        
                                </div>
                            </div>        
                            
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <!-- OJO -->
                </div>
            </div>
            <!-- /.row -->
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong class="primary-font">Datos Generales del Proveedor</strong>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Datos del Proveedor</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Primer Apellido</td>
                                            <td>Apellido1 XXX</td>
                                            <td>Segundo Apellido</td>
                                            <td>Apellido2 xxx</td>
                                        </tr>
                                        <tr>
                                            <td>Primer Nombre</td>
                                            <td>Nombre1 xxx</td>
                                            <td>Segundo Nombre</td>
                                            <td>Nombre2 xxx</td>
                                        </tr>
                                        <tr>
                                            <td>G&eacute;nero</td>
                                            <td>
                                                <label class="radio-inline">
                                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" disabled checked>Masculino
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" disabled>Feminino
                                                </label>
                                            </td>
                                            <td>Estado Civil</td>
                                            <td>Soltero xxx</td>
                                        </tr>
                                        <tr>
                                            <td>RUC</td>
                                            <td>0200701619001 xxx</td>
                                            <td>P&aacute;gina web</td>
                                            <td>http://www.pruebas.com</td>
                                        </tr>
                                        <tr>
                                            <td>Categoria del Proveedor</td>
                                            <td>Econom&iacute;a Popular y Solidaria xxx</td> 
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Nivel de Educaci&oacute;n</td>
                                            <td>Diplomado iniciado xxx</td>
                                            <td>&Aacute;rea de Especialidad</td>
                                            <td>Otros xxx</td>
                                        </tr>
                                        <tr>
                                            <td>Fecha Nacimiento</td>
                                            <td>2000-01-01 xxx</td>
                                            <td>Raz&oacute;n social</td>
                                            <td>Entidad Mantenimiento xxx</td>
                                        </tr>
                                        <tr>
                                            <td>Año de inicio de Actividades</td>
                                            <td>2008 xxx</td>
                                            <td>Nombre Comercial</td>
                                            <td>ENTIDAD MANTENIMIENTO xxx</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Direcci&oacute;n</strong></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Domicilio Tributario</td>
                                            <td>18 Septiembre xxx</td>
                                            <td>Intersecci&oacute;n/Referencia</td>
                                            <td>6 de diciembre xxx</td>
                                        </tr>
                                        <tr>
                                            <td>N&uacute;mero</td>
                                            <td>156 xxx</td>
                                            <td>Edificio</td>
                                            <td>6 de Diciembrexx</td>
                                        </tr>
                                        <tr>
                                            <td>Departamento/Oficina</td>
                                            <td>5 xxx</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Pa&iacute;s</td>
                                            <td>ECUADOR</td>
                                            <td>Estado</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->                                                        
                        </div>
                        <!-- /.panel-body -->                        
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->            
        </div>
        <!-- /#page-wrapper -->
    
{% endblock %}
