{% extends '::base.html.twig' %}

{% block body %}    

        <div id="page-wrapper">
            </br>
            <div class="row">
                <div class="col-lg-8">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-body">                            
                                Entidad Financiera A</br>
                                RUC: 1122334455001</br>
                                Usuario: Usuario1</br>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p>Su instituci&oacute;n tiene xxx de solicitudes de garant&iacute;as por revisar.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->     
            <div class="col-lg-8"> 
                <div class="panel panel-success">
                    <div class="panel-heading">
                      CUPO DISPONIBLE PARA EMITIR GARANT&Iacute;AS: USD XX.XXX,XX
                    </div>                
                </div>
                <h5>Detalle de Proveedores que solicitan garant&iacute;as:</h5>
            </div>
            
            <div class="row">
                <div class="col-lg-8">  
                    
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Proveedor 1
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div clas="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <form class="form-inline">
                                                        <div class="form-group">
                                                            <label for="exampleInputName2" style="margin-left: 50px">Ingrese el porcentaje de comisi&oacute;n a cobrar:  </label>
                                                            <input type="text" class="form-control" id="exampleInputName2" placeholder="%">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                            </br>
                                        </div>
                                    </div>
                                    <div clas="row">
                                        <div class="col-lg-8">                        
                                            <h5>- Garant&iacute;a de Fiel Cumplimiento del Contrato, por:</h5>
                                            <h6 style="margin-left: 38px">(Correspondiente al 2015% de valor del contrato)</h6>
                                            </br>
                                            <h5>- Garant&iacute;a de Buen uso del Anticipo, por:</h5>
                                            <h6 style="margin-left: 38px">(Correspondiente al 100% del valor del anticipo)</h6>                        
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="panel panel-red">
                                                <div class="panel-heading">
                                                    <div class="row">                              
                                                        <div class="col-xs-10 text-center">                                    
                                                            <div>$10.000,00</div>                                                        
                                                        </div>
                                                    </div>
                                                </div>                        
                                            </div>
                                        </div>        
                                        </br></br></br>
                                        <div class="col-lg-4" style="padding-top: 21px">
                                            <div class="panel panel-red">
                                                <div class="panel-heading">
                                                    <div class="row">                              
                                                        <div class="col-xs-10 text-center">                                    
                                                            <div>$100.000,00</div>                                                        
                                                        </div>
                                                    </div>
                                                </div>                        
                                            </div>
                                        </div>
                                    </div>
                                    <div class ="row">
                                        <center>
                                            <button type="button" class="btn btn-primary">Revisar Proceso de Contrataci&oacute;n</button>
                                        </center>
                                    </div>
                                    <div class ="row">
                                        <div class="col-lg-7" style="padding-top: 21px">
                                            <div class="panel panel-default">
                                                <div class="panel-footer">
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                                                                    <strong>APROBAR</strong>
                                                                </label>
                                                            </div>
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                                                    <strong>RECHAZAR</strong>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3" style="padding-top: 12px">                                                    
                                                            <button type="button" class="btn btn-primary">ACEPTAR Y ENVIAR</button>                                                    
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4" style="padding-top: 21px"> 
                                            <div class="panel panel-success">
                                                <div class="panel-footer">
                                                    <h5><strong> Fecha: {{valor[0]}}</strong> </h5>
                                                    <h5><strong>Hora: {{valor[1]}}</strong></h5>
                                                </div>
                                            </div>                                    
                                        </div>                                
                                    </div>
                                    </br>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    <h6>RECUERDE QUE TIENE XXX HORAS PAR REVISAR Y RESPONDER LA SOLICITUD DE GARANT&Iacute;A</h6>
                                                </div>
                                            </div>
                                        </div>                
                                         <!-- /.col-lg-8 -->
                                     </div> 
                                     <!-- /.row -->            
                                </div>
                            </div>                                                                       
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Proveedor 2
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">                                
                                <div class="panel-body">
                                    <div clas="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <form class="form-inline">
                                                        <div class="form-group">
                                                            <label for="exampleInputName2" style="margin-left: 50px">Ingrese el porcentaje de comisi&oacute;n a cobrar:  </label>
                                                            <input type="text" class="form-control" id="exampleInputName2" placeholder="%">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                            </br>
                                        </div>
                                    </div>
                                    <div clas="row">
                                        <div class="col-lg-8">                        
                                            <h5>- Garant&iacute;a de Fiel Cumplimiento del Contrato, por:</h5>
                                            <h6 style="margin-left: 38px">(Correspondiente al 2015% de valor del contrato)</h6>
                                            </br>
                                            <h5>- Garant&iacute;a de Buen uso del Anticipo, por:</h5>
                                            <h6 style="margin-left: 38px">(Correspondiente al 100% del valor del anticipo)</h6>                        
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="panel panel-red">
                                                <div class="panel-heading">
                                                    <div class="row">                              
                                                        <div class="col-xs-10 text-center">                                    
                                                            <div>$10.000,00</div>                                                        
                                                        </div>
                                                    </div>
                                                </div>                        
                                            </div>
                                        </div>        
                                        </br></br></br>
                                        <div class="col-lg-4" style="padding-top: 21px">
                                            <div class="panel panel-red">
                                                <div class="panel-heading">
                                                    <div class="row">                              
                                                        <div class="col-xs-10 text-center">                                    
                                                            <div>$100.000,00</div>                                                        
                                                        </div>
                                                    </div>
                                                </div>                        
                                            </div>
                                        </div>
                                    </div>
                                    <div class ="row">
                                        <center>
                                            <button type="button" class="btn btn-primary">Revisar Proceso de Contrataci&oacute;n</button>
                                        </center>
                                    </div>
                                    <div class ="row">
                                        <div class="col-lg-7" style="padding-top: 21px">
                                            <div class="panel panel-default">
                                                <div class="panel-footer">
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                                                                    <strong>APROBAR</strong>
                                                                </label>
                                                            </div>
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                                                    <strong>RECHAZAR</strong>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3" style="padding-top: 12px">                                                    
                                                            <button type="button" class="btn btn-primary">ACEPTAR Y ENVIAR</button>                                                    
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4" style="padding-top: 21px"> 
                                            <div class="panel panel-success">
                                                <div class="panel-footer">
                                                    <h5><strong> Fecha: {{valor[0]}}</strong> </h5>
                                                    <h5><strong>Hora: {{valor[1]}}</strong></h5>
                                                </div>
                                            </div>                                    
                                        </div>                                
                                    </div>
                                    </br>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    <h6>RECUERDE QUE TIENE XXX HORAS PAR REVISAR Y RESPONDER LA SOLICITUD DE GARANT&Iacute;A</h6>
                                                </div>
                                            </div>
                                        </div>                
                                         <!-- /.col-lg-8 -->
                                     </div> 
                                     <!-- /.row -->                                                            
                                </div>                    
                            </div>
                        </div>                                                
                    </div>                        
                    <!-- /.panel -->                    
                </div>
            </div>            
            <!-- /.row -->
        </div>
            
{% endblock %}
